# Application
API_PORT=8080
REALTIME_PORT=8081

# MySQL
DB_HOST=localhost
DB_PORT=3306
DB_NAME=mopl
DB_USERNAME=mopl
DB_PASSWORD=

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# Elasticsearch
ELASTICSEARCH_URL=http://localhost:9200

# External API
TMDB_ACCESS_TOKEN=
SPORTSDB_API_KEY=