<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mopl.batch.content.mapper.ContentBulkMapper">

    <insert id="bulkUpsert">
        INSERT INTO contents (
        id,
        type,
        title,
        description,
        thumbnail_url,
        external_source,
        external_id,
        release_date,
        external_popularity,
        external_rating,
        external_vote_count,
        created_at,
        updated_at,
        deleted_at
        )
        VALUES
        <foreach
                collection="contents"
                item="content"
                separator=","
        >
            (
            UUID(),
            #{content.type},
            #{content.title},
            #{content.description},
            #{content.thumbnailUrl},
            #{content.externalSource},
            #{content.externalId},
            #{content.releaseDate},
            #{content.externalPopularity},
            #{content.externalRating},
            #{content.externalVoteCount},
            NOW(),
            NOW(),
            NULL
            )
        </foreach>
        AS new
        ON DUPLICATE KEY UPDATE
        type = new.type,
        title = new.title,
        description = new.description,
        thumbnail_url = new.thumbnail_url,
        release_date = new.release_date,
        external_popularity = new.external_popularity,
        external_rating = new.external_rating,
        external_vote_count = new.external_vote_count,
        updated_at = NOW()
    </insert>

    <delete id="deleteTagsByContents">
        DELETE ct
        FROM content_tags ct
        INNER JOIN contents c
        ON c.id = ct.content_id
        WHERE c.deleted_at IS NULL
        AND (
        <foreach
                collection="contents"
                item="content"
                separator=" OR "
        >
            (
            c.type = #{content.type}
            AND c.external_source = #{content.externalSource}
            AND c.external_id = #{content.externalId}
            )
        </foreach>
        )
    </delete>

    <insert id="bulkInsertTags">
        INSERT INTO content_tags (
        content_id,
        tag,
        value
        )
        <foreach
                collection="contents"
                item="content"
                separator=" UNION ALL "
        >
            <foreach
                    collection="content.tags"
                    item="tag"
                    separator=" UNION ALL "
            >
                SELECT
                c.id,
                #{tag.tag},
                #{tag.value}
                FROM contents c
                WHERE c.type = #{content.type}
                AND c.external_source = #{content.externalSource}
                AND c.external_id = #{content.externalId}
                AND c.deleted_at IS NULL
            </foreach>
        </foreach>
    </insert>

</mapper>
